[submodule "pd.build"]
	path = pd.build
	url = https://github.com/pierreguillot/pd.build.git
[submodule "pure-data"]
	path = pure-data
	url = https://github.com/pure-data/pure-data.git
[submodule "GUI/JUCE"]
	path = GUI/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Libraries/JUCE"]
	path = Libraries/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Libraries/pure-data"]
	path = Libraries/pure-data
	url = https://github.com/pure-data/pure-data.git
[submodule "Libraries/pd.build"]
	path = Libraries/pd.build
	url = https://github.com/pierreguillot/pd.build.git
